<nav class="sidebar" [ngClass]="{ 'collapsed': isCollapsed }">
  <div class="sidebar-header">
    <h3 *ngIf="!isCollapsed">Panel de usuario</h3>
    <i class="fas fa-bars" (click)="toggleSidebar()"></i>
  </div>
  <ul class="list-unstyled components">
    <li class="active">
      <a [routerLink]="['/dashboard']">
        <i class="fas fa-home"></i>
        <span *ngIf="!isCollapsed">Inicio</span>
      </a>
    </li>
    <li>
      <a [routerLink]="['/dashboard/addresses']">
        <i class="fas fa-envelope"></i>
        <span *ngIf="!isCollapsed">Direcciones</span>
      </a>
    </li>
    <li>
      <a href="#" data-bs-toggle="modal" data-bs-target="#sesionModal">
        <i class="fas fa-sign-out-alt"></i>
        <span>Salir</span>
      </a>
    </li>
  </ul>
</nav>
<nav class="topbar" [ngClass]="{ 'show-menu': isMenuOpen }">
  <div class="topbar-header" (click)="toggleMenu()">
    <h3>Panel de usuario</h3>
    <i class="fas fa-bars"></i>
  </div>
  <ul class="menu">
    <li>
      <a href="dashboard">
        <i class="fas fa-home"></i>
        <span>Inicio</span>
      </a>
    </li>
    <li>
      <a href="dashboard/addresses">
        <i class="fas fa-envelope"></i>
        <span>Direcciones</span>
      </a>
    </li>
    <li>
      <a href="#" data-bs-toggle="modal" data-bs-target="#sesionModal">
        <i class="fas fa-sign-out-alt"></i>
        <span>Salir</span>
      </a>
    </li>
  </ul>
</nav>
<main>
  <!-- contenido del dashboard -->
  <router-outlet></router-outlet>
</main>
<!-- Modal -->
<div class="modal fade" id="sesionModal" tabindex="-1" aria-labelledby="sesionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="sesionModalLabel">Atención</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ¿Realmente deseas cerrar sesión?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger" (click)="logout()">Cerrar sesión</button>
      </div>
    </div>
  </div>
</div>
